image: elixir:latest

services:
  - postgres:latest

before_script:
  - mix local.rebar --force
  - mix local.hex --force
  - mix deps.get
  
variables:
  POSTGRES_DB: gym_rats_test
  POSTGRES_HOST: postgres
  POSTGRES_USER: postgres
  POSTGRES_PASSWORD: "postgres"
  MIX_ENV: "test"

before_script:
  - mix local.rebar --force
  - mix local.hex --force
  - mix deps.get --only test
  - mix ecto.create
  - mix ecto.migrate

mix:
  script:
    - mix test